// FS3 Combat HUD

/* Combat HUD */

.table-responsive.fs3-combat-hud > .table {
	min-width: 1000px;
}

.table-responsive.fs3-combat-hud {
	overflow-x: scroll;
	scrollbar-width: thin;
	scrollbar-color: $secondary-color $box-background-color;
}

.combat-hud-team {
	background-color: $box-background-color!important;
}

.fs3-combat-hud h3 {
	margin-top: 20px;
}

.fs3-combat-hud h3::before {
	font: var(--fa-font-solid);
	content: "\f0c0";
	margin: 0px 10px 0px 5px;
	color: $secondary-color;
}

.combat-header-name {
	min-width: 225px;
}

.combat-header-weapon {
	min-width: 150px;
}

.combat-header-armor {
	min-width: 150px;
}

.combat-header-action {
	min-width: 150px;
}

.combat-header-edit {
	min-width: 30px;
}

.combat-hud-edit {
	text-align: center;
}

.combat-damage-0 {
	color: $muted-green;
}

.combat-damage-1 {
	color: $muted-yellow;
}

.combat-damage-2 {
	color: $muted-orange;
}

.combat-damage-3,
.combat-damage-4 {
	color: $muted-red;
}

.combat-damage-5::before {
	content: "\f055";
	font-family: var(--fa-font-solid);
	color: #c94955;
}

.combat-hud-ko {
	color: #c94955;
	text-weight: bold;
}
